html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #1a1a1a;
  color: #fff;
  text-align: center;
}

/* Fade-in لكل الأقسام */
section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

section.fade-in {
  opacity: 1;
  transform: translateY(0);
}
